
<h1>Your Booking Is Complete</h1>
<br>
<br>
<div id="checkout">
<strong>Booking Confrimation Number:</strong> <%= @recentReservation[:id] %>
<br>
<strong>Seat Number:</strong> <%= @recentReservation[:seat_id] %>
<br>
<strong>Flight Number:</strong> <%= @recentReservation[:flight_id] %>
<br>


<h3>Thank you for choosing Burning Butterfly Airlines!</h4>
</div>
