<h1>Select Your Seat</h1>


<div id="selectDetails">
<strong>Flight Number:</strong> <%= @selected_flight[:id] %>
<br>
<strong>Origin:</strong> <%= @selected_flight[:origin] %> 
<br>
<strong>Destination:</strong> <%= @selected_flight[:destination] %>
<br>

<strong>Departure Time:</strong> <%= @selected_flight[:time] %>
</div>

<p></p>

<div id="seatMap">


</div>

<form action="/checkout">
  <button>Book</button>
</form>