<br>
Testing.
<br>
<br>

<p>Plane ID From Selected Flight: <%= @selected_flight[:plane_id] %></p>
<p>Plane ID from Optional Planes: <%= @planeID[:id] %> </p>
<p>Rows from Selected Plane: <%= @rows %></p> 
<p>Columns from Selected Plane: <%= @columns %></p> 




<form action="/checkout">
  
  <button>Submit</button>

</form>



<div id="seatMap">
  

</div>