// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seatCSS {
  display: inline-block;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin-left: 40px;
  margin-right: 40px;
  vertical-align: top;
}

.seatSelectable[status=false] {
  background-color: blue;
}

.seatSelectable[status=true] {
  background-color: red;
}

.reserved {
  background-color: grey;
}

#userSignIn {
  margin-left: 43%;
  margin-right: 43%;
}


#signUpLink {
  font-size: 20px;
}
